{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "flash_alert.html" %}
{% include "category_panel.html" %}
<div>
    <div>
        <div>
            <h2>Latest Items</h2>
            {% for late in latest %}
            <ul>
                <li>{{late}}</li>
            </ul>
            {% endfor %}
            <div>
                <a href="{{ url_for('newCatalogItem') }}">
                    <button class="btn">
                        <span aria-hidden="true"></span>
                        Add Item
                    </button>
                </a>
            </div>

        </div>
    </div>
    {% include "catalog_list.html" %}
</div>
{% endblock %}}