{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "flash_alert.html" %}
<div>
    <div class="card">
        <img class="img-thumbnail pull-left" src="http://placehold.it/150" alt="image placeholder" />
        <div class="row">
            <div>
                <h2>{{item.name}}<br><small>({{ item.category.name }})</small></h2>
            </div>
            <div>
                <h4>${{ item.price }}</h4>
            </div>
        </div>
        <hr>
        <div>
            <p>
                {{ item.description }}
            </p>
            {% if item.user_id == session.user_id %}
            <div>
                <a href="{{ url_for('editCatalogItem', category_id=item.category_id, catalog_item_id=item.id) }}">
                    <button class="btn">
                        <span aria-hidden="true"></span>
                        Edit
                    </button>
                </a>
                <a href="{{ url_for('deleteCatalogItem', category_id=item.category_id, catalog_item_id=item.id) }}">
                    <button class="btn ">
                        <span aria-hidden="true"></span>
                        Delete
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
        {% if creator %}
        <hr>
        <div>
            Created By: {{ creator.email }} <img src="{{ creator.picture }}" alt="creator image" style="height: 40px;" />
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}