{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "flash_alert.html" %}
{% include "category_panel.html" %}
<div>
    <div>
        <div>
            <h2>Latest Items
                <div>
                    <a href="{{ url_for('newCatalogItem') }}">
                        <button class="btn">
                            <span aria-hidden="true"></span>
                            Add Item
                        </button>
                    </a>
                </div>
            </h2>
        </div>
    </div>
    {% include "catalog_list.html" %}
</div>
{% endblock %}}