<div>
    <div>
        <div>
            <h2>
                <a href="{{ url_for('showCatalog') }}">Category</a>
                <div>
                    <a href="{{ url_for('newCategory') }}">
                        <button class="btn ">
                            <span aria-hidden="true"></span>
                        </button>
                    </a>
                </div>
            </h2>
        </div>
    </div>

    {% for c in categories %}

    <div class="columns is-mobile ">
        <div class="column">
            <a href="{{ url_for('showCategoryItems', category_id=c.id) }}">{{ c.name }}</a>
            {% if c.user_id == session.user_id %}
            <div>
                <a href="{{ url_for('editCategory', category_id=c.id, catalog_item_id=c.id) }}">
                    <button class="button is-primary"> Edit</button>
                </a>
                <a href="{{ url_for('deleteCategory', category_id=c.id, catalog_item_id=c.id) }}">
                    <button class="button is-danger"> Delete</button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    {% endfor %}

</div>