<div>
    <div>
        <div>
            <h2>
                <a href="{{ url_for('showCatalog') }}">Category</a>
                <div>
                    <a href="{{ url_for('newCategory') }}">
                        <button class="btn btn-success primary">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </a>
                </div>
            </h2>
        </div>
    </div>
    <ul>
        <li><a href="{{ url_for('showCatalog') }}">Latest Items</a></li>
        {% for c in categories %}
        <li>
            <div>
                <div>
                    <a href="{{ url_for('showCategoryItems', category_id=c.id) }}">{{ c.name }}</a>
                    {% if c.user_id == session.user_id %}
                    <div>
                        <a href="{{ url_for('editCategory', category_id=c.id, catalog_item_id=c.id) }}">
                            <button class="btn ">
                                <span aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ url_for('deleteCategory', category_id=c.id, catalog_item_id=c.id) }}">
                            <button class="btn ">
                                <span aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>