{% extends "main.html" %}
{% block content %}
{% include "header.html" %}




<section class="hero is-small is-danger is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <form action="#" method="post">
                    <h5>Are you sure you want to delete {{CatalogItem.name}}?</h5>
                    <a href="{{url_for('showCatalogItem', category_id = CatalogItem.category_id ,catalog_item_id = CatalogItem.id )}}"
                        class="btn">Back</a>
                    <input type="submit" value="Delete">
                </form>
            </h1>

        </div>
    </div>
</section>


{% endblock %}