{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div>
    <div>
        <h6>
            <span>Delete Instrument</span>
            <span></span>
        </h6>
        <form action="#" method="post">
            <h5>Are you sure you want to delete {{CatalogItem.name}}?</h5>
            <a href="{{url_for('showCatalogItem', catalog_id = CatalogItem.category_id ,item_id = CatalogItem.id )}}"
                class="btn">Back</a>
            <input type="submit" value="Delete">
        </form>
    </div>
</div>

{% endblock %}